@use 'styles/variables.scss' as v;
@use 'styles/default.scss' as d;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px 25px;

  .header-container {
    display: flex;
    margin-bottom: 30px;

    .avatar-container {
      width: 100px;
      height: 100px;
    }

    .description-container {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      .display-name {
        @include d.neonTitle;

        @at-root [data-theme='light'] & {
          @include d.neonTitle(v.$color-neon-purple);
        }
      }

      .text {
        color: v.$color-text;
        font-size: 16px;
      }

      .description {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }
    }
  }

  .statistics-container {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;

    .statistic {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 16px;
      border: 1px solid v.$color-blue-violet;


      .count {
        color: v.$color-neon-blue;

        @at-root [data-theme='light'] & {
          color: v.$color-neon-purple;
        }
      }

      .text {
        color: v.$color-text-gray;
        font-size: 13px;

        @at-root [data-theme='light'] & {
          color: v.$color-neon-purple;
        }
      }

      @at-root [data-theme='light'] & {
        border: 1px solid v.$color-neon-purple;
      }
    }
  }

  .info-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    gap: 20px;

    .info {
      display: flex;
      flex-direction: column;

      .title {
        @include d.neonTitle;

        @at-root [data-theme='light'] & {
          @include d.neonTitle(v.$color-neon-purple);
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border: 1px solid v.$color-neon-blue;

        .data {
          display: flex;
          flex-direction: column;

          .field {
            margin-bottom: 0;
          }

          .label {
            display: block;
            color: v.$color-neon-blue;
            font-family: Rajdhani, sans-serif;
            font-size: 0.9rem;
            font-weight: 700;
            margin-bottom: 0;
            letter-spacing: 1px;
            text-transform: none;

            @at-root [data-theme='light'] & {
              color: v.$color-neon-purple;
            }
          }

        }

        .achivments {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px;
          border: 1px solid v.$color-blue-violet;

          .title {
            color: v.$color-text;
            font-size: 14px;

            @at-root [data-theme='light'] & {
              color: v.$color-neon-purple;
            }
          }

          .text {
            color: v.$color-text-gray;
            font-size: 12px;
          }
        }

        &.content-achivments {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        }

        @at-root [data-theme='light'] & {
          border: 1px solid v.$color-neon-purple;
        }
      }

    }
  }

  .button-log-out {
    width: 100%;
    margin: 20px;
  }
}
