@use '../../styles/variables.scss' as v;

.game {
  padding: 15px;
}

.gameCanvas {
  border: 1px solid v.$color-neon-blue;
  animation: glitch-border 3s infinite alternate;
}

@keyframes glitch-border {
  0% {
    box-shadow: 0 0 10px rgb(v.$color-neon-blue, 0.5);
    border-color: v.$color-neon-blue;
  }

  25% {
    box-shadow: 0 0 20px rgb(v.$color-neon-pink, 0.7), 0 0 30px rgb(v.$color-neon-blue, 0.5);
    border-color: v.$color-neon-pink;
  }

  50% {
    box-shadow: 0 0 25px rgb(v.$color-neon-blue, 0.8), 0 0 40px rgb(v.$color-neon-pink, 0.6);
    border-color: v.$color-neon-blue;
  }

  75% {
    box-shadow: 0 0 15px rgb(v.$color-neon-pink, 0.9), 0 0 25px rgb(v.$color-neon-blue, 0.7);
    border-color: v.$color-neon-pink;
  }

  100% {
    box-shadow: 0 0 10px rgb(v.$color-neon-blue, 0.5);
    border-color: v.$color-neon-blue;
  }
}
