@use '../../styles/variables.scss' as v;

.button {
  padding: 16px 25px;
  border: 1px solid v.$color-neon-blue !important;
  background: transparent;
  color: v.$color-neon-blue !important;
  font-weight: bold;
  transition: all v.$transition-duration v.$transition-easing;
  border-radius: 0;

  &:hover {
    border-color: v.$color-neon-pink !important;;
    color: v.$color-neon-pink !important;;
    box-shadow: 0 0 15px rgb(v.$color-neon-pink, v.$glow-intensity) !important;;
    transform: translateY(-2px) !important;;
  }
}