@use 'styles/variables' as v;
@use 'styles/default' as d;

.title {
  @include d.neonTitle(v.$color-neon-cyan);

  @at-root [data-theme='light'] & {
    @include d.neonTitle(v.$color-neon-purple);
  }
}

.info {
  display: flex;
  gap: 5px;

  .label {
    @include d.neonTitle(v.$color-neon-cyan);

    @at-root [data-theme='light'] & {
      @include d.neonTitle(v.$color-neon-purple);
    }
  }

  .text {
    @include d.neonTitle(v.$color-neon-cyan);

    @at-root [data-theme='light'] & {
      @include d.neonTitle(v.$color-neon-purple);
    }
  }
}


