@use 'styles/variables.scss' as v;

.overlay {
  position: fixed;
  z-index: v.$z-index-loader;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background: v.$color-dark-bg;

  &.transparent {
    background: transparent;
  }
}
