@use 'styles/default' as d;
@use 'styles/variables' as v;

$title-vertical-padding: 8px;
$title-height: 20px;
$footer-height: 3vh;
$title-margin-top: 10px;

.title {
  margin-top: 10px;
  border-bottom: 1px solid v.$color-neon-blue;
  border-top: 1px solid v.$color-neon-blue;
  height: calc(20px + #{$title-vertical-padding} * 2);
  padding: $title-vertical-padding 0 $title-vertical-padding 15px;

  @include d.neonTitle;

  @at-root [data-theme='light'] & {
    @include d.neonTitle(v.$color-neon-purple);
  }
}

.wrapper {
  display: grid;
  gap: 10px;
  height: calc(100vh - #{v.$header-height} - $title-height - #{$title-vertical-padding} * 2 - $footer-height - $title-margin-top);
  border-bottom: 1px solid v.$color-neon-blue;
  grid-template-columns: 0.5fr 1fr;

  :global(.ant-tabs) {
    overflow: hidden;
  }

  @at-root [data-theme='light'] & {
    border-bottom: 1px solid v.$color-neon-purple;
  }
}

.antTabsNav {
  :global {
    .ant-tabs-nav {
      &::before {
        margin-right: 15px;
        border-color: v.$color-neon-blue;

        @at-root [data-theme='light'] & {
          border-color: 1px solid v.$color-neon-purple;
        }
      }
    }
  }
}
