@use 'styles/variables.scss' as v;

.spinner-wrapper {
  position: relative;

  .spinner {
    width: 100px;
    height: 100px;
    border: 5px solid v.$color-smoke-white;
    border-top: 5px solid v.$color-neon-purple;
    border-radius: 50%;
    animation: spin 1s infinite linear;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
