@use 'styles/variables' as v;

.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;

  &__label {
    display: block;
    color: v.$color-neon-pink;
    margin-bottom: 0.5rem;
    font-family: v.$font-main;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__required {
    margin-left: 0.2rem;
    color: v.$color-neon-pink;
  }
}
