@use 'styles/variables.scss' as v;

.image-downloader-container {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: solid 1px v.$color-neon-blue;

  .icon-button {
    position: absolute;
    top: 4px;
    left: calc(100% - 10px);
    cursor: pointer;

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;

      &.disabled {
        filter: contrast(0.7) brightness(1.5);
      }
    }
  }

  &.error {
    border: solid 2px v.$color-error;
  }
}

.input {
  display: none;
}
