@use 'styles/variables' as v;
@use 'styles/default' as d;

$gap: 20px;

.wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: calc(100% - #{v.$tabsBottomMargin});
  padding: 10px;
  margin-right: 15px;
  border: 1px solid v.$color-neon-blue;
  overflow: hidden;

  .title {
    padding: 5px 0 10px;
    text-align: center;

    @include d.neonTitle;
  }

  .missions {
    overflow-y: scroll;
  }

  .helper-text {
    margin-top: 10px;

    @include d.neonTitle(rgba(v.$color-neon-pink,0.75));
  }
}
