@use 'styles/variables' as v;
@use 'styles/default' as d;

$space: 10px;
$height-title: 23px;

.wrapper {
  height: calc(100% - v.$tabsBottomMargin);
  margin-right: 15px;
  padding: $space;
  border: 1px solid v.$color-neon-blue;
  overflow: hidden;

  .title {
    text-align: center;
    margin-bottom: $space;

    @include d.neonTitle;
  }

  .cells {
    height: calc(100% - #{$height-title} - #{$space} * 2);
    overflow-y: scroll;
  }

  .cell {
    width: 100px;
    height: 100px;
    border: 1px solid v.$color-neon-blue;
  }
}
