@use 'styles/variables' as v;
@use 'styles/default' as d;

.tabs {
  :global {
    .ant-tabs-content, .ant-tabs-tabpane, .ant-tabs-content-holder {
      height: 100%;
    }

    .ant-tabs-tab {
      font-size: 15px;

      .ant-tabs-tab-btn:hover {
        @include d.neonTitle(v.$color-neon-purple);
      }

      .ant-tabs-tab-btn {
        @include d.neonTitle;

        @at-root [data-theme='light'] & {
          @include d.neonTitle(v.$color-neon-purple);
        }
      }

      &.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          @include d.neonTitle(v.$color-neon-cyan);

          @at-root [data-theme='light'] & {
            @include d.neonTitle(v.$color-neon-pink);
          }
        }
      }
    }
  }

  &.hideBottomLine {
    :global {
      .ant-tabs-nav {
        &::before {
          display: none;
        }
      }
    }
  }
}
