@use 'styles/variables.scss' as v;

.modal-container {
  position: absolute;
  z-index: v.$z-index-modal;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border: solid 2px v.$color-neon-blue;
    border-radius: 5%;
    background-color: v.$color-dark-bg;
  }
}
