@use 'styles/variables.scss' as v;

.avatar {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid 2px v.$color-neon-light-pink;
  border-radius: 50%;
  overflow: hidden;
  object-fit: contain;
}
